@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 210 40% 98%;

    --card: 0 0% 7.8%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 185 100% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 20% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 30% 10%;
    --muted-foreground: 215 14% 70%;

    --accent: 210 20% 25%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 14% 34%;
    --input: 215 14% 34%;
    --ring: 185 100% 35%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
